## Rating and Review Analysis of Car Brands Project 

Author: Sabriye Ela Esme

This notebook includes the codes for analyzing rating score and review score of different brands of cars according to 'Edmunds-Consumer Car Ratings and Reviews' data retrieved from https://www.kaggle.com/ankkur13/edmundsconsumer-car-ratings-and-reviews.

Firstly, for every brand, the data converted into a dataframe, and from that dataframe, the ratings given to the cars of the brand (between 0-5) summed up and divided by the number of reviews to get an average rating score. Let's start with Porsche.

In [65]:
import pandas as pd
import numpy as np
lst=[]

data = pd.read_csv('C:\\Users\\Ela\\Desktop\\Cars_review_project\\Scraped_Car_Review_porsche.csv', lineterminator='\n')
brand0= 'Porsche'

Here's a glimpse of dataframe of Porsche.

In [66]:
data.head()

,Unnamed: 0,Review_Date,Author_Name,Vehicle_Title,Review_Title,Review,Rating\r
0,0,on 08/28/18 13:31 PM (PDT),Chris,2015 Porsche Macan SUV Turbo 4dr SUV AWD (3.6L...,Porsche Macan is a Beast,I owned a Porsche Cayenne for two years and e...,5.0
1,1,on 06/17/18 17:30 PM (PDT),Phil Fair,2015 Porsche Macan SUV S 4dr SUV AWD (3.0L 6cy...,Outstanding ride!,"Love my 2015 Porsche Macan S SUV, but please ...",5.0
2,2,on 05/16/18 11:27 AM (PDT),Steven,2015 Porsche Macan SUV S 4dr SUV AWD (3.0L 6cy...,Pretty and comfy,Great looking vehicle with the most comfortab...,4.0
3,3,on 05/15/18 19:22 PM (PDT),Zw,2015 Porsche Macan SUV S 4dr SUV AWD (3.0L 6cy...,"Once you've gone Porsche, it's hard to go back",Crossover that drives like a Porsche- I outgr...,5.0
4,4,on 11/11/17 07:20 AM (PST),george toccalino,2015 Porsche Macan SUV Turbo 4dr SUV AWD (3.6L...,The 911 SUV,Fun to drive SUV:very close to handling like ...,5.0

In [67]:
score0=sum(data['Rating\r'])/data.shape[0]
lst.append([brand0, score0])

## Calculation of the score for other brands

In [68]:
#Calculation of the score for other brands
data1 = pd.read_csv('C://Users//Ela//Desktop//Cars_review_project//Scrapped_Car_Reviews_Audi.csv', lineterminator='\n')
brand1= 'Audi'
score1=sum(data1['Rating\r'])/data1.shape[0]
lst.append([brand1, score1])

data2 = pd.read_csv('C://Users//Ela//Desktop//Cars_review_project//Scrapped_Car_Reviews_BMW.csv', lineterminator='\n')
brand2= 'BMW'
score2=sum(data2['Rating\r'])/data2.shape[0]
lst.append([brand2, score2])

data3 = pd.read_csv('C:\\Users\\Ela\\Desktop\\Cars_review_project\\Scraped_Car_Review_mercedes-benz.csv', lineterminator='\n')
brand3=' Mercedes-Benz'
score3=sum(data3['Rating\r'])/data3.shape[0]
lst.append([brand3, score3])

data4 = pd.read_csv('C:\\Users\\Ela\\Desktop\\Cars_review_project\\Scraped_Car_Review_jaguar.csv', lineterminator='\n')
brand4='Jaguar'
score4=sum(data4['Rating\r'])/data4.shape[0]
lst.append([brand4, score4])

## Scores for Reviews

In this part of the code, there are two different functions to find the total review score of a brand. First the review function gets every review as a single sentence and checks the words to give the sentence a score based on how positive or negative the words in the review are.

The second function called total_score is to find the average review score for a single brand. It checks every review from the dataframes created earlier to calculate an average review score

In [69]:
def review_score(liste):
    words=["love", "amazing", "happy", "great", "best", "win", "powerful", "beatiful"]
    negwords=["hate", "regret", "bad", "weak", "disappointed", "sad"]
    scorepos=0
    scoreneg=0
    for i in liste:
        if i in words:
            scorepos+=1
        elif i in negwords:
            scoreneg+=1
            
    tot= scorepos - scoreneg
    return tot

In [70]:
def total_score(datframe):
    rlist=[]
    rscore=0
    for k in range(len(datframe["Review"])):
            bb= datframe["Review"][k].split()
            aa = [strings.lower() for strings in bb]
            res= review_score(aa)
            rscore+=res

    return rscore/datframe.shape[0]

From this line, the code is about creating a new dataframe which shows the average rating score, average review score and the total score (sum of the 2 different averages) for every brand, in a descending order according to total score.

In [71]:
totlist=[total_score(data), total_score(data1), total_score(data2), total_score(data3),total_score(data4)]
for i in range(len(lst)):
    lst[i].append(totlist[i])
    lst[i].append(totlist[i]+lst[i][1])

lst.sort(key=lambda x:x[3], reverse= 1)
df = pd.DataFrame(lst[0:],columns=['Brand', 'Average Rating Score', 'Average Review Score', 'Total Score'])
df

            Brand  Average Rating Score  Average Review Score  Total Score
0         Porsche              4.653237              0.649664     5.302901
1          Jaguar              4.531482              0.720042     5.251524
2            Audi              4.467752              0.732914     5.200666
3             BMW              4.478536              0.697767     5.176303
4   Mercedes-Benz              4.411153              0.643390     5.054542